.board {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cell-container {
    border: 1px solid black;
}

.cellDisplayX, .cellDisplayO{
     font-size: 64px;
     font-family: Georgia, 'Times New Roman', Times, serif;

 }

.cellDisplayX{
   color: forestgreen;
 }

.cellDisplayO{
     color: firebrick;
 }

h1 {
     text-align: center;
 }

 .undo-div{
     margin-top: 25px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

