<div>
  <!-- <h2>
    Last Played: {{ lastPlayed.option }} at index:
    {{ lastPlayed.id }}
  </h2> -->
  <h1>Tic Tac Toe</h1>
  <section class="gameboard" cellId="-1">
    <div
      class="cell-container"
      *ngFor="let cell of gameboard.cells; let row_idx = index"
    >
      <h1>{{ cell.option }}</h1>
      <app-gamecell-options
        (lastPlayedEmitter)="updateGameState($event)"
        [lastPlayed]="lastPlayed"
        [defaultSelected]="cell.option"
        [gameCell]="cell"
      ></app-gamecell-options>
    </div>
  </section>
  <button [disabled]="hasPlayed == false" (click)="undo()">Undo</button>
  <div *ngIf="winner != null">
    <app-game-end-modal
      [playerName]="winner"
      (resetGameEmitter)="initializeGameBoard()"
    ></app-game-end-modal>
  </div>
  <div *ngIf="tieGame == true">
    <app-game-end-modal
      [tieGame]="true"
      (resetGameEmitter)="initializeGameBoard()"
    ></app-game-end-modal>
  </div>
</div>
