<div>
  <h2>
    Last Played: {{ getLastTurnOption() }} at index:
    {{ turns[turns.length - 1].cellIndex }}
  </h2>
  <table class="gameboard" cellId="-1">
    <tr *ngFor="let row of gameboard.getCells(); let row_idx = index">
      <td *ngFor="let col of row; let col_idx = index">
          {{col.cellIndex}}
        <app-gamecell-options
          (turnsEmitter)="turns = $event"
          [turns]="turns"
          [cellIdx]="col.cellIndex"
        ></app-gamecell-options>
      </td>
    </tr>
  </table>
  <button (click)="undo()">Undo</button>
</div>
