<div class="container board">
  <h1>Tic Tac Toe</h1>
  <div class="row row-cols-3 align-items-center">
    <div
      class="col cell-container"
      *ngFor="let cell of gameBoardState.gameboard.cells"
    >
      <div class="ratio ratio-1x1 cell-display">
        <div
          class="option-display d-flex align-items-center justify-content-center"
        >
          <h1 [ngClass]="cell.option == 'X' ? 'cellDisplayX' : 'cellDisplayO'">
            {{ cell.option }}
          </h1>
          <app-gamecell-options
            (lastPlayedEmitter)="updateGameState($event)"
            [lastPlayed]="gameBoardState.lastPlayed"
            [defaultSelected]="cell.option"
            [gameCell]="cell"
          ></app-gamecell-options>
        </div>
      </div>
    </div>
  </div>
  <div class="undo-div">
    <button
      class="btn btn-primary btn-lg"
      [disabled]="gameBoardState.hasPlayed == false"
      (click)="undo()"
    >
      Undo
    </button>
  </div>
  <button class="btn btn-primary btn-lg" (click)="saveGame()">Save</button>
  <button class="btn btn-primary btn-lg" (click)="loadGame()">Load</button>
</div>
<div *ngIf="gameBoardState.winner != null">
  <app-game-end-modal
    [playerName]="gameBoardState.winner"
    (resetGameEmitter)="initializeGameBoard()"
  ></app-game-end-modal>
</div>
<div *ngIf="gameBoardState.tieGame == true">
  <app-game-end-modal
    [tieGame]="true"
    (resetGameEmitter)="initializeGameBoard()"
  ></app-game-end-modal>
</div>
