* {
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: center;
}


.container {
    width: 50%;
    min-height: 150px;
    /* height: 150px; */
}


.cell-container {
    display: flex;
    flex: 0 0 32%;
    border: 1px solid black;
    min-height: 150px;
    justify-content: center;

}

.cellDisplayX, .cellDisplayO{
     font-size: 64px;
     padding-top: 25px;
     font-family: Georgia, 'Times New Roman', Times, serif;

 }

.cellDisplayX{
   color: forestgreen;
 }

.cellDisplayO{
     color: firebrick;
 }

h1 {
     text-align: center;
 }


 .undoDiv{
     padding-top: 25px;
 }