tr td {
    border: 1px solid black;
    height: 100px;
}

.gameboard {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    margin: 7% auto 50px auto; 
    flex-wrap: wrap;
    border: 1px solid black;
}

.cell-container {
    flex: 0 0 32%;
    border: 1px solid black;
    height: 100px;
 }
 