<div class="gamecell">
  <!-- <p>
    {{ turns[turns.length - 1].option }} {{ turns[turns.length - 1].cellIndex }}
  </p> -->
  <p>{{ gameCell.id }}</p>
  <select formControlName="cell" [disabled]="gameCell.cellHasPlayed">
    <option
      *ngFor="let playerOption of playerOptions.getValues()"
      (click)="onOptionSelected($event)"
      [disabled]="
        playerOption == lastPlayed.option || playerOption == playerOptions.UNK
      "
      [selected]="playerOption == defaultSelected"
    >
      {{ playerOption }}
    </option>
  </select>
</div>
